body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a { 
    color:black ;
    text-decoration: none;
} 

a:hover {
    text-decoration-line: underline;
}


#header-all {
    display: flex;
    justify-content:space-between;
}

#header-left {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

#header-left a{
    margin: 7px;
}

#header-right {
    display:flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

#header-right a{
    margin: 7px;
}

#apps-button {
    margin: 7px;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

#sign-in-button {
    background-color: #1a73e8;
    border-color: #1a73e8;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

/* MAIN CONTENT */

#main-content{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15vh;
    
}

#main-top {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px;
}

#main-top input{
    width: 35%;
    margin: 10px;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    padding: 15px;

}

#main-top img {
    scale: 1.25;
    margin: 10px;
}


#main-middle {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    margin: 10px;
}
#main-middle button{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background-color: white;
    
}

#main-middle button:hover{
    border:solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #dadce0; 
}

#main-bottom {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    margin: 10px;
}

#main-bottom a{
    color: blue;
}

/* FOOTER */

footer {
    position:absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    background-color: #dadce0;
    color: rgba(0,0,0,.54); 
}

#footer-bottom {
    display: flex;
    justify-content:space-between;
}

#footer-bottom a{
    color: rgba(0,0,0,.54); 
}

#footer-top {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    border-style: solid;
    border-top-color: #dadce0;
    border-right-color:  #dadce0;
    border-left-color: #dadce0;
    border-bottom-color:  rgba(0,0,0,.3);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#footer-right {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    
}

#footer-right a {
    margin: 7px;
}

#footer-left {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

#footer-left a {
    margin: 7px;
}